requests
psutil
python-telegram-bot==12.6.1
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
aria2p
oauth2client
httplib2
tenacity
python-magic
beautifulsoup4
Pyrogram
youtube-dl
lxml
telegraph
python-dotenv
TgCrypto
